html
{ scroll-behavior: smooth; }

body
{ background-image: url('https://i.ibb.co/XtsjCJm/background.jpg'); background-repeat: no-repeat, repeat; background-size: cover; }

.content
{ margin: auto; max-width: 100%; width: 1500px; }

hr
{ border-color: black; }

header
{ font-size: 50px; text-transform: uppercase; }

header, nav, main, aside, footer
{ background-color: dodgerblue; border: outset 3px black; border-radius: 15px; box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.5); font-family: arial; opacity: 80%; text-align: center; }

button
{ background-color: black; border: ridge white 3px; border-radius: 20px; color: white; font-size: xx-large; height: 75px; transition: 250ms; width: 300px; }

button:hover
{ background-color: white; color: black; transition: 500ms; }

button:active
{ transform: translateY(10px); transition: 150ms; }



main, aside
{ float: left; }

main
{ font-size: xx-large; margin-bottom: 2%; margin-right: 2%; width: 72.3%; }

article
{ background-color: lightseagreen; border: inset 10px; border-radius: 20px; transition: 300ms; }

img
{ box-shadow: 0px 0px 25px black; }

.audioimg
{ float: left; margin-left: 7%; }

audio
{ width: 60%; }

aside
{ position: sticky; top: 4%; width: 24.9%; }

section
{ margin-left: 2%; margin-right: 2%; }




footer
{ clear: both; font-size: xx-large; }